.sidebar {
  &__personalInfo {
    padding: 0 32px;
    margin: 0;

    p {
      font-size: 14px;
    }
  }

  &__avator {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-shrink: 0;

    &--img01 {
      background-image: url('../images/andychen.jpeg');
    }
  }
}

.nav {
  position: fixed !important;
  min-width: 296px;
  min-height: 100vh;
}

.nav-link.active {
  color: #198754;
}

.nav-item {
  position: relative;
}

.nav-link.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  width: 4px;
  height: 32px;
  background-color: #198754;
}

.nav-link {
  padding: 13px 32px !important;
}

.contentWrap {
  // margin: 0 auto;
  max-width: 936px;
}