@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');
$font-family-sans-serif: 'Lato',
sans-serif;
// $font-family-momospace: 'Roboto Mono',
// monospace;


$primary: #198754;
$gray: #F8F9FA;
$gray-600:#6C757D;